<!DOCTYPE html>
<html>
<head>
  <title>Pacman <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>

  <%= csrf_meta_tags %>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
  <div id="header">
    <%= render "layouts/header" %>
  </div>
  <div id="container">
    <%= render "layouts/content"%>
  </div>
  <footer id="footer">
  	<%= render "layouts/footer"%>
  </footer>

</body>
</html>
